body {
    background-color: beige;
    text-align: center;
    padding: 20px;
    font-family: 'Audiowide', cursive;
    
}

ol {
    display: inline-block;
    text-align: left;
    line-height: 30px;
    color:chocolate;
}

#container{
    margin: 40px;
}

#messages {
    padding: 40px;
}

#button-rock, #button-paper, #button-scissors {
    background-color: cadetblue;
    color: cornsilk;
}